@{
    ViewData["Title"] = "Migration Status";
}

<h2>Database Migration Status</h2>
<div id="migration-status">
    <p>Loading...</p>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $.get('/Admin/GetMigrationStatus', function(data) {
                var html = '<ul class="list-group">';
                if (data.migrations && data.migrations.length > 0) {
                    data.migrations.forEach(function(m) {
                        html += '<li class="list-group-item">' + m + '</li>';
                    });
                } else {
                    html += '<li class="list-group-item">No migrations found</li>';
                }
                html += '</ul>';
                $('#migration-status').html(html);
            }).fail(function() {
                $('#migration-status').html('<p class="text-danger">Failed to load migration status</p>');
            });
        });
    </script>
}